*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p2{
  padding: 2rem;
}

.theme-color{
    width: 4em;
    aspect-ratio: 1/1;
    border-radius: 1rem;
}


/* index.css */

/* scrollbar */
* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
/* 




