*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-color{
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}