*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-color{
    width: 4em;
    aspect-ratio: 1/1;
    border-radius: 1rem;
}


.theme-demo{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 32rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
}



.theme-demo-messages {
  flex: 1;
  overflow-y: auto;
  /* Scrollbar'ı gizle (tüm tarayıcılar için) */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE ve Edge */
}
.theme-demo-messages::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}

.theme-demo-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
  justify-content: space-between; /* avatarlar üstte, ayar simgesi en altta */
  border-radius: 1rem;
  width: 4rem;
  padding: 1rem;
  color: rgb(218, 200, 177);
}